.container{
    top: 5rem;
    padding-bottom: 4rem;
    position: relative;
    height: max-content;
    display: flex;
    flex-direction: column;
}

.fas{
    font-weight: bolder;
}

.content-cart{
    text-align: center;
    width: 20%;
    flex-direction: column;
    margin-left: 80%;
}

.btn-checkout{
    place-items: center;
    margin-top: 23px;
}
.nav-cart{
    width: max-content;
    margin:auto;
}
.table-cart{
    width: 100%;
    height: max-content;
    position: relative;
    /* border-top: 1px solid;
    border-bottom: 1px solid;  */
    margin-top: 20px;
}

.table-head{
    margin: 0;
    width: 100%;
    padding: 15px 0;
    display: flex;
    color: #263A29;
    font-weight: 600;
    border-bottom: 2px solid #41644A;
    font-size: 18px;
    justify-content: center;
}

.itemName {
    width: 31%;
    display: flex;
    text-align: center;
}

.itemCenter {
    justify-content: center;
}

.itemCate {
    width: 16%;
    display: flex;
    text-align: center;
}

.itemBuyNow, .itemPrice {
    width: 12%;
    display: flex;
    text-align: center;
    justify-content: center;
}

.itemAction {
    width: 29%;
    display: inline-flex;
    text-align: center;
}

.info_product{
    text-align: center;
    margin: 0;
    padding: 0;
    border: 1px solid black;
}

.item {
    width: 100%;
    display: inline-flex;
    align-items: center;
    flex-wrap: nowrap;
    margin: 0.5rem 0;
}

/*fix css img cart*/
.img__product{
    max-width: 150px!important;
    max-height: 215px!important;
}
.count{
    display: flex;
    flex-direction: column;
}
.removeItem{
    width: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.removeItem > a > svg:hover {
    width: 28px;
    height: 28px;
}

.info_product{
    text-align: center;
    margin: 0;
    padding: 0;
    border: 1px solid black;
}

.btn-incre, .btn-decree {
    width: 12px;
    height: 12px;
    border-radius: 5px;
    background-color: #F2E3DB;
    color: #41644A;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.btn:hover{
    opacity: 0.8;
}
.form-control {
    display: inline-flex;
    width: 5rem;
    height: 1.75rem;
    border: 1px #F2E3DB solid;
    border-radius: 4px;
    text-align: center;
    align-items: center;
}

.quantity > label > input:focus {
    outline: none;
    cursor: context-menu;
}

.form-group{
    display: inline-flex;
    align-items: center;
}

.quantity {
    display: inline-flex;
    justify-content: space-evenly;
    width: 80%;
    align-items: center;
}

/*@media (max-width: 730px) {*/
/*    .container {*/
/*        width: 100%;*/
/*        margin: 0 !important;*/
/*    }*/
/*}*/
