body{
    width: 100%;
    height: 100%;
}

.content {
    margin: 8rem auto 0;
    font-family: Roboto, serif;
    height: 440px;
    width: 800px;
    background-color: #f6f1f1;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 2rem 0 0 2rem;
    color: #263A29;
}

.information {
    font: 1rem Roboto,serif;
    display: flex !important;
    flex-direction: column;
    gap: 1rem;
    margin: 1.5rem 5rem;
}

.infoTitle {
    font-size: 1.3rem;
}

.infoData {
    margin: 0.75rem 0 0 2rem;
    display: flex !important;
    align-items: center;
    font-size: 1.1rem;
    column-gap: 0.75rem;
}

.data {
    color: #393646;
    width: 11rem;
    height: 1.5rem;
}

.btn-update {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6f1f1;
    width: 7.25rem;
    height: 2.75rem;
    font-size: 1.25rem;
    color: #41644A;
    font-family: cursive !important;
    border-color: #5D9C59;
    cursor: pointer;
}

.divUpdate {
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto 0;
}

.container-in {
    margin-top: 4rem !important;
}
