.container-fluid{
  display: inline-block;
  width: 100%;
  background-color: #242424;
}
.collapse{
  float: right;
}
.navbar-brand{
  font-size: 18px;
  text-decoration: none;
  color: #ffffff;
  place-items: center;
}
.nav-link{
  text-decoration: none;
  color: #ffffff;
}
.nav-item{
  display: inline-block;
  position: relative;
  margin: 0 5px 0 5px;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 20px;
  cursor: pointer;
  transition: 0.4s all ease;
}
.nav-item-end{
  margin-right: 20px;
}
.nav-item:hover{
  color: #cdcdcd;
  transition: 0.4s all ease;
}

.nav-item::after{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #0051ff;
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}
.nav-item::after{
  transform: scaleX(1);
  transform-origin: bottom left;
}

.row{
  width: 100%;
  height: auto;
}
.col-home{
  display: flex;
}
.card{
  float: left;
  width: 33%;
  border: #cdcdcd;
}