@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Roboto:wght@300;500&display=swap');
html{
  font-family: Roboto,Helvetica,Arial,sans-serif;
  background: #f6f1f1;
}
body{
  margin: 0;
  padding: 0;
}

/* Slideshow container */
.slideshow-container {
  max-width: 80%;
  position: relative;
  margin: auto;
  top: 4rem;
  height: 32rem;
}

.mySlides img {
  position: absolute;
  float: left;
  width: 100%;
  height: 32rem;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dots {
  text-align: center;
  width: 100%;
  position: absolute;
  margin-top: 1.5rem;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.maxim{
  width: 100%;
  text-align: center;
  margin-top: 5rem;
}

.container {
  margin: 0 10%;
}

.row{
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  padding-top: 68px;
}

.col-home{
  background: #ffffff;
  display: flex;
  margin: 0.5rem;
  flex-basis: calc(100% / 4 - 1rem);
  border-radius: 5px;
}
.col-home:hover {
  cursor: pointer;
  background: #eaeaea;
}
.card{
  display: flex;
  justify-content: space-between;
  float: left;
  width: 100%;
  flex-direction: column;
  padding: 1.5rem 0.5rem;
}

.card-img-top{
  margin: auto;
  max-height: 13rem;
}

.card-title{
    margin: 0;
    padding: 1rem 0 0 1rem;
    font-size: 15px;
}
.price{
  margin: 0;
  padding: 0.5rem 0 0 1rem;
  font-size: 18px;
  color: #f97d00;
}

.category{
  font-weight: 300;
  margin: 0;
  padding: 0.5rem 0 0 1rem;
  font-size: 15px;
  color: #666666;
}

.container-btn{
  padding: 10px 0 10px 0;
  display: flex;
  justify-content: space-between;
}

.btn{
  padding: 0.5rem;
  border-radius: 5px;
  text-decoration: none;
  background-color: #f94144;
  color: #ffffff;
  margin: 0 0.5rem;
}

.text-left{
  margin: 20px 0 20px 0;
}
.text-left .btn{
  margin: 0;
}
/*fix css edit user*/
.container-edituser{
  margin: auto !important;
  background-color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.load-more{
  text-align: center;
  margin: 30px;
  padding: 10px;
}

