html{
    height: 100%;
    width: 100%;
}
body {
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    font-family: cursive;
}

.container{
    margin: 4rem auto;
    width: 430px !important;
    height: 530px;
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.card-header{
    display: flex;
    justify-content: flex-end;
    height: 29%;
    width: 100%;
    flex-direction: column;
}

.welcome {
    font-size: 1.75rem;
    color: #87CBB9;
}

.header-name {
    font-size: 2.2rem;
    color: #577D86;
}

.card-body {
    width: 100%;
    height: 70%;
}

.form {
    width: 100%;
    height: 100%;
}

.form-group{
    height: 61%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.input{
    width: 75%;
    height: 30px;
    border: 0;
    border-bottom: 1px solid #577D86;
    font-size: 1.25rem;
}

input::placeholder {
    font-family: cursive;
    display: flex;
    align-items: flex-end;
}

input:focus {
    outline: none !important;
    font-family: cursive;
}

.card-submit {
    height: 40%;
    display: flex;
    flex-direction: column;
    row-gap: 1.15rem;
    align-items: center;
}

.register > a {
    color: #7F8487;
}

.register > a:hover {
    color: #413F42;
}

.btn-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DDF7E3;
    width: 10rem;
    height: 3.25rem;
    font-size: 1.5rem;
    color: #41644A;
    font-family: cursive !important;
    border-color: #5D9C59;
}

.btn-submit:hover {
    opacity: 0.8;
    cursor: pointer;
}

input:-webkit-autofill{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    font-family: cursive;
}


