html{
	height: 100%;
	width: 100%;
}
body {
	margin: 0;
	padding: 0;
	background-color: rgba(0, 0, 0, 0.4);
}
/* .form{
    height: 40%;
    width: 50%;
}
*/

.container{
	margin-top: 150px;
    margin-left: 580px;
    margin-right: 403px;
    width: 600px !important;
    height: 400px;
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    margin: auto;
}

.input{
    padding: 7px;
    width: 80%;
    border-radius: 5px
}

.card-header{
	margin:0;
	background: aqua;
	padding: 20px 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
	font-size: 50px;
	font-weight: 600;
	color: limegreen;	
}

.text__label{
	font-size: 20px;	
	float: left;
    padding-left: 9%;
    margin-bottom: 5px;	
    margin-top: 5px;
}

.form-group{
	margin-top: 20px;
}

.btn-primary{
    background-color: rgb(87, 144, 242);
    margin-top: 40px;
    width: 100px;
    height: 40px;
    font-size: 15px;
    color: white;
    border-radius: 10px;
} 

