.container-managerbook{
    width: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    height: max-content;
    display: flex;
    flex-direction: column;
}

#addEmployeeModal{
    display: none;
    position: fixed;
}

#addNew:hover{
    opacity: 0.5;
    cursor: pointer;
}
.modal{
    display: flex;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
.modal-dialog{
    height: 400px;
    width: 500px;
    background-color: #b3e8bd;
    margin: auto;
    border-radius: 6px;
}

.modal-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.close{
    width: 32px;
    height: 32px;
    border-top-right-radius: 6px;
}

.form-group{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 16px 4px 16px;
}

.form-control{
    height: 36px;
    width: 70%;
    margin: 0 6px 0 6px;
    text-align: center;
    border: 1px #cdcdcd solid;
    border-radius: 4px;
}

.btn-success{
    height: 32px;
    width: 32px;

}

.btn-success:hover{
    cursor: pointer;
    opacity: 0.6;
}

.modal-footer{
    display: flex;
    justify-content: space-around;
    margin-top: 24px;
}
