.container-managerbook {
    width: 75%;
    float: right;
}

.thong-ke{
    float: left;
    width: 17%;
    background: #ffffff;
    border: 1px solid #ccc;
    transform: translateY(28rem);
    border-radius: 0.5rem;
    padding: 2rem;
    font-size: 20px;
    margin: 0 4rem 0 0.5rem;
    position: fixed;
}

.thong-ke .title {
    background: #f97d00;
    margin: 0;
    padding: 1rem;
    text-align: center;
}

.tk-content {
    padding: 1rem;
    border: 1px solid #ccc;
}

.container-ct {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 2rem 1rem;
    padding: 2rem;
    top: 4rem;
    background: #ffffff;
    transform: translateX(-1.25rem);
}

.table-item {
    position: relative;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    margin-top: 2rem;
    border-radius: 0.5rem;
}

.table-item .table-head {
    list-style-type: none;
    display: flex;
    color: #263A29;
    font-size: 18px;
    justify-content: space-around;
    padding: 1rem 0;
    background: #41644A;
    color: #ffffff;
    margin: 0;
    border-radius: 0.5rem 0.5rem 0 0;
}

.table-item .table-col {
    flex: 1;
    text-align: center;
}

.item-ct {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    border-top: 1px solid #ccc;
    margin: 0;
    padding: 1rem 0.5rem;
}

.table-content {
    padding: 0;
    flex: 1;
    text-align: center;
}

.table-content img {
    max-width: 100%;
}

.table-action {
    text-decoration: none;
    list-style-type: none;
    cursor: pointer;
}

.table-action:hover, .btn:hover {
    opacity: 0.6;
}

#addEmployeeModal{
    display: none;
    position: fixed;
}

#addNew:hover{
    opacity: 0.5;
    cursor: pointer;
}

.modal{
    display: flex;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
.modal-dialog{
    height: 400px;
    width: 500px;
    background-color: #b3e8bd;
    margin: auto;
    border-radius: 6px;
}

.modal-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.close{
    width: 32px;
    height: 32px;
    border-top-right-radius: 6px;
}

.form-group{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 16px 4px 16px;
}

.form-control{
    height: 36px;
    width: 70%;
    margin: 0 6px 0 6px;
    text-align: center;
    border: 1px #cdcdcd solid;
    border-radius: 4px;
}

.btn-checkout {
    margin: 2rem 0;
    text-align: center;
    border-top: 1px solid #ccc;
    padding-top: 2rem
}

.btn-success:hover{
    cursor: pointer;
    opacity: 0.6;
}

.modal-footer{
    display: flex;
    justify-content: space-around;
    margin-top: 24px;
}
