.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 99;
}

.container-fluid {
    background-color: #ffffff;
    height: 4rem;
}

.navbar-brand {
    float: left;
    width: 20%;
}

.navbar-brand img {
    margin-left: 2rem;
}

.search-container {
    margin-top: 0.7rem;
    float: left;
    width: 35%;
}

#search {
    width: 100%;
    display: flex;
    position: relative;
    border: 1px solid #cccccc;
    border-radius: 8px;
    -webkit-box-align: center;
    align-items: center;
}

#search .fas {
    color: #555555;
    width: 20px;
    height: 20px;
    margin: 0px 0px 0px 0.5rem;
}

.search-in {
    outline: none;
    border: none;
    flex-basis: 66%;
}

#search input {
    border: 0;
    padding: 0px 0.5rem;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    flex: 1 1 0%;
    outline: none;
    border-right: 1px solid #ccc;
}

#search input:focus {
    border: none;
}

#search button {
    cursor: pointer;
    border: 0;
    width: 6rem;
    height: 2.5rem;
    padding: 0.25rem;
    border-radius: 0px 8px 8px 0px;
    background: transparent;
    color: #f97d00;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#search button:hover {
    height: 2.5rem;
    width: 6rem;
    background-color: #f4ea7a;
    border-radius: 0 0.5rem 0.5rem 0;
}

.navbar-collapse {
    float: left;
    display: block;
    width: 45%;
}

.nav-item {
    list-style-type: none;
    float: left;
    padding: 4px;
    font-size: 17px;
    margin-left: 1rem;
    font-weight: 900;
}

.nav-item .fas {
    color: #555555;
}

.nav-item .fa-home {
    margin-right: 0.1rem;
}

.nav-item a {
    text-decoration: none;
    color: #555555;
}

.nav-item a:hover {
    opacity: 0.7;
}

.cart-icon {
    position: relative;
    display: inline-block;
}

.badge {
    position: absolute;
    top: -0.25rem;
    right: -0.25rem;
    background-color: red;
    color: white;
    border-radius: 50%;
    font-size: 12px;
    width: 16px;
    height: 16px;
    text-align: center;
    line-height: 16px;
}



