html{
    font-family: "Fira Code Medium";
}

.container{
    width: 80%;
    left: 10%;
    right: 10%;
    position: relative;
    height: max-content;
    display: flex;
    /* flex-direction: column; */
}

.btn{
    padding: 9px;
    border: 1px #cdcdcd solid;
    border-radius: 4px;
    text-decoration: none;
    background-color: #4680ff;
    color: aliceblue;
}

.fas{
    font-weight: bolder;
}

.btn-remove{
    text-align: center;
    background-color: rgb(234, 66, 66);
    padding: 9px;
    text-decoration: none;
    color: white;
    border-radius: 4px;
}
.content-cart{
    text-align: center;
    width: 20%;
    flex-direction: column;
    margin-left: 80%;
}

.btn-checkout{
    place-items: center;
    margin-top: 23px;
}
.nav-cart{
    width: max-content;
    margin:auto;
}
.table-cart{
    /* width: 100%; */
    height: max-content;
    /* position: relative; */
    border: 1px solid;
    margin-top: 20px;
    float: left;
    width: 70%;
    margin-right: 10px;

}
.table-cart-right{
    /* width: 100%; */
    height: max-content;
    /* position: relative; */
    border: 1px solid;
    margin-top: 20px;
    float: left;
    width: 30%;

}
.table-head{
    margin: 0;
    background-color: #ffffff;
    padding: 15px 0 15px 0;
    display: flex;
    color: #242424;
    font-weight: 600;
}
.table-col{
    float: left;
    width: 16.66%;
    justify-content: center;
    list-style: none;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
.table-col-small{
    width: 10% !important;
}
.info_product{
    text-align: center;
    margin: 0;
    padding: 0;
    border: 1px solid black;
}

.table-content{
    padding: 28px 0 0 0;
    float: left;
    width: 16.66%;
    list-style: none;
    font-size: 16px;
}
.count{
    display: flex;
    flex-direction: column;
}
.btn-remove{
    text-align: center;
    background-color: rgb(234, 66, 66);
    padding: 9px;
    text-decoration: none;
    color: white;
    border-radius: 4px;
}
.btn-buy{
    padding: 9px 12px;
}
.info_product{
    text-align: center;
    margin: 0;
    padding: 0;
    border: 1px solid black;
}
.list_items{
    display: flex;
    flex-direction: column;
}
.form-control{
    margin: 0 6px 0 6px;
    padding: 7px 0 4px 0;
    text-align: center;
    border: 1px #cdcdcd solid;
    border-radius: 4px;
}

.form-group{
    display: flex;
    flex-direction: row;
}

.right-col1{
    list-style: none;
    float: left;
    width: 50%;
    font-size: 18px;
}
.right-col2{
    width: 100%;
    list-style: none;
}
.right-col3{
    width: 100%;
    list-style: none;
}
.m-10{
    margin-bottom: 13px;
}
.btn-buy{
    padding: 9px;
    border: 1px #cdcdcd solid;
    border-radius: 4px;
    text-decoration: none;
    background-color: #4680ff;
    color: aliceblue;
    width: 70%;
    font-weight: 500;
}
.btn-buy:hover{
    cursor: pointer;
    background-color: #5b8fff;
}
.right-row4{
    display: flex;
    width: 100%;
    list-style: none;
}
.right-col41{
    float: left;
}
.right-col42{
    float: right;
}

.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0.3);
    display: none;
    place-items: center;
}
@keyframes modalFadein{
    from{
        opacity: 0;
        transform: translateY(-140px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.modal.open{
    display: flex;
}
.modal-close{
    font-size: 20px;
}
.modal-close:hover{
    cursor: pointer;
}
.modal-sucess{
    font-size: 70px;
    margin-bottom: 30px;
}
.modal-container{
    width: 50%;
    background: #ffff;
    position: relative;
    left: 25%;
    right: 25%;
    text-align: center;
    height: fit-content;
    border-radius: 4px;
    animation: modalFadein ease .3s;
}
.phone-red{
    color: red;
    font-weight: 600;
}
.modal-close{
    display: flex;
    justify-content: end;
    margin: 13px
}
.name-branch{
    font-weight: bolder;
}
.content{
    margin: 20px 50px 30px 50px;
    line-height: 20px;
}
.btn-modal{
    text-decoration: none;
    color: #ffffff;
}
.btn-index{
    padding: 9px;
    border: 1px #cdcdcd solid;
    border-radius: 4px;
    text-decoration: none;
    background-color: #036937;
    color: aliceblue;
    margin-bottom: 20px;
}
.btn-index:hover{
    cursor: pointer;
    background-color: #047b41;
}