html {
    background: #ffffff;
}

.order-title {
    display: inline-flex;
    margin: 8rem 10% 1rem 10%;
    gap: 1rem;
    align-items: center;
}

.titleName {
    font-size: 1.75rem;
    color: #263A29;
    font-weight: 600;
}

.container{
    margin: 0;
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
}

.btn{
    padding: 9px;
    border: 1px #cdcdcd solid;
    border-radius: 4px;
    text-decoration: none;
    background-color: #4680ff;
    color: aliceblue;
}

.btn-remove{
    text-align: center;
    background-color: rgb(234, 66, 66);
    padding: 9px;
    text-decoration: none;
    color: white;
    border-radius: 4px;
}

.table-cart{
    width: 100%;
    height: max-content;
    margin: 20px 10% 0 10%;
    font-size: 1.1rem;
}

.table-head {
    margin: 0;
    width: 100%;
    padding: 15px 0;
    display: flex;
    color: #263A29;
    font-weight: 600;
    border-bottom: 2px solid #41644A;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}

.item-category {
    width: 15%;
}

.item-cancel {
    width: 20%;
    text-align: center;
}

.item-name {
    width: 27%;
}

.item-quantity {
    width: 13%;
    text-align: center;
}

.item-price, .item-date {
    width: 15%;
    text-align: center;
}

.item {
    width: 100%;
    display: inline-flex;
    align-items: center;
    flex-wrap: nowrap;
    padding: 1.85rem 0;
    border-bottom: 1px solid #EEEEEE;
}

.list_items{
    margin: 0;
}

.btn-cancel {
    padding: 0.5rem;
    background-color: #CD0404;
    text-decoration: none;
    color: #ffffff;
    border-radius: 8px;
}

.btn-cancel:hover {
    opacity: 0.8;
}

.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0.3);
    display: none;
    place-items: center;
}
@keyframes modalFadein{
    from{
        opacity: 0;
        transform: translateY(-140px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.modal.open{
    display: flex;
}
.modal-close{
    font-size: 20px;
}
.modal-close:hover{
    cursor: pointer;
}
.modal-sucess{
    font-size: 70px;
    margin-bottom: 30px;
}
.modal-container{
    width: 50%;
    background: #ffff;
    position: relative;
    left: 25%;
    right: 25%;
    text-align: center;
    height: fit-content;
    border-radius: 4px;
    animation: modalFadein ease .3s;
}
.phone-red{
    color: red;
    font-weight: 600;
}
.modal-close{
    display: flex;
    justify-content: end;
    margin: 13px
}
.name-branch{
    font-weight: bolder;
}
.content{
    margin: 20px 50px 30px 50px;
    line-height: 20px;
}
.btn-modal{
    text-decoration: none;
    color: #ffffff;
}
.btn-index{
    padding: 9px;
    border: 1px #cdcdcd solid;
    border-radius: 4px;
    text-decoration: none;
    background-color: #036937;
    color: aliceblue;
    margin-bottom: 20px;
}
.btn-index:hover{
    cursor: pointer;
    background-color: #047b41;
}

body {
    margin: 0;
}

@media screen and (max-width: 730px) {

    .order-title {
        margin: 5rem 10% 0 10%;
    }

    .table-head, .item-category {
        display: none;
    }

    .item-date {
        width: 20%;
    }

    .item-name {
        width: 32%;
    }

    .item-cancel {
        width: 25%;
    }

    .table-cart {
        font-size: 1.25rem;
        margin: 0 10%;
    }

    .btn-cancel {
        padding: 0.65rem;
    }
}

@media screen and (max-width: 581px) {

    .table-cart {
        font-size: 1rem;
    }

    .btn-cancel {
        padding: 0.5rem;
    }

    .item-date, .item-price {
        text-align: left;
    }

    .titleName {
        font-size: 1.5rem;
    }

    .titleIcon > svg {
        width: 30px;
        height: 30px;
    }

}

@media screen and (max-width: 420px) {

    .item-price {
        width: 12%;
    }

    .item-cancel {
        width: 30%;
        display: flex;
        flex-wrap: wrap;
    }

    .item-date {
        width: 25%;
    }

    .item-name {
        width: 28%;
    }

}

