body {
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
 }
.container{
    margin: auto !important;
    width: 430px !important;
    height: 520px;
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.card-header{
    display: flex;
    justify-content: flex-end;
    height: 15%;
    width: 100%;
    flex-direction: column;
}
.register_form {
    font-size: 1.5rem;
    color: #87CBB9;
}
.header-name {
    font-size: 2rem;
    color: #577D86;
}
.card-body {
    width: 100%;
    height: 70%;
    margin-top: 1rem;
}
.form {
    width: 100%;
    height: 100%;
}
.form-group{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.input{
    width: 75%;
    height: 30px;
    border: 0;
    border-bottom: 1px solid #577D86;
    font-size: 1rem;
}
.input ::placeholder {
    font-family: cursive;
    display: flex;
    align-items: flex-end;
}
.input :focus {
    outline: none;
}
.card-submit {
    height: 40%;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-items: center;
}.login > a {
     color: #7F8487;
 }
.btn-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DDF7E3;
    width: 10rem;
    height: 3.25rem;
    font-size: 1.25rem;
    color: #41644A;
    font-family: cursive !important;
    border-color: #5D9C59;
}
.btn-submit :hover {
    background-color: #3C6255;
    cursor: pointer;
}
