html{
    font-family: "Fira Code Medium";
}

.container{
    width: 80%;
    left: 10%;
    right: 10%;
    position: relative;
    height: max-content;
    display: flex;
    flex-direction: column;
}

.btn{
    padding: 9px;
    border: 1px #cdcdcd solid;
    border-radius: 4px;
    text-decoration: none;
    background-color: #4680ff;
    color: aliceblue;
}

.fas{
    font-weight: bolder;
}

.btn-remove{
    text-align: center;
    background-color: rgb(234, 66, 66);
    padding: 9px;
    text-decoration: none;
    color: white;
    border-radius: 4px;
}
.content-cart{
    text-align: center;
    width: 20%;
    flex-direction: column;
    margin-left: 80%;
}

.btn-checkout{
    place-items: center;
    margin-top: 23px;
}
.nav-cart{
    width: max-content;
    margin:auto;
}
.table-cart{
    width: 100%;
    height: max-content;
    position: relative;
    /* border-top: 1px solid;
    border-bottom: 1px solid;  */
    margin-top: 20px;
}

.table-head{
    margin: 0;
    background-color: #ffffff;
    padding: 15px 0 15px 0;
    display: flex;
    color: #242424;
    font-weight: 600;
}
.table-col{
    float: left;
    width: 20%;
    justify-content: center;
    list-style: none;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.info_product{
    text-align: center;
    margin: 0;
    padding: 0;
    border: 1px solid black;
}

.table-content{
    padding: 28px 0 0 0;
    float: left;
    width: 20%;
    list-style: none;
    font-size: 16px;
}
.count{
    display: flex;
    flex-direction: column;
}
.btn-remove{
    text-align: center;
    background-color: rgb(234, 66, 66);
    padding: 9px;
    text-decoration: none;
    color: white;
    border-radius: 4px;
}
.btn-buy{
    padding: 9px 12px;
}
.info_product{
    text-align: center;
    margin: 0;
    padding: 0;
    border: 1px solid black;
}
.list_items{
    display: flex;
    flex-direction: column;
}
.btn-decree,
.btn-incre{
    text-decoration: none;
    padding: 5px 9px;
    border: 1px #cdcdcd solid;
    border-radius: 5px;
}
.btn-decree:hover,
.btn-incre:hover{
    background-color: #dedede;
}
.form-control{
    margin: 0 6px 0 6px;
    padding: 7px 0 4px 0;
    text-align: center;
    border: 1px #cdcdcd solid;
    border-radius: 4px;
}

.form-group{
    display: flex;
    flex-direction: row;
}